@page "/Account/Manage"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using AgrimasterCAD.Data
@using Microsoft.AspNetCore.Components.Authorization

@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Mi Cuenta</PageTitle>

<div class="container px-5 py-5">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-3 mb-4">
            <div class="list-group shadow-sm rounded-3">

                <NavLink href="/Account/Manage"
                         class="list-group-item list-group-item-action">
                    Perfil
                </NavLink>

                <NavLink href="/Account/Manage/Email"
                         class="list-group-item list-group-item-action">
                    Email
                </NavLink>

                <NavLink href="/Account/Manage/ChangePassword"
                         class="list-group-item list-group-item-action">
                    Cambiar Contraseña
                </NavLink>

                <NavLink href="/Account/Manage/TwoFactorAuthentication"
                         class="list-group-item list-group-item-action">
                    Two Factor
                </NavLink>

                <NavLink href="/Account/Manage/PersonalData"
                         class="list-group-item list-group-item-action">
                    Datos Personales
                </NavLink>

            </div>
        </div>

        <!-- Content -->
        <div class="col-md-9">
            <div class="card shadow border-0 rounded-4">
                <div class="card-body p-4">

                    <h3 class="fw-bolder mb-4">Mi Perfil</h3>

                    @if (user is null)
                    {
                        <p>Cargando...</p>
                    }
                    else
                    {
                        <p><strong>Email:</strong> @user.Email</p>
                        <p><strong>Usuario:</strong> @user.UserName</p>
                        <p><strong>ID:</strong> @user.Id</p>
                    }

                </div>
            </div>
        </div>

    </div>
</div>

@code {
    private ApplicationUser? user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var currentUser = authState.User;

        user = await UserManager.GetUserAsync(currentUser);
    }
}
