@page "/Account/Manage"
@layout ManageLayout

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using AgrimasterCAD.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Perfil</PageTitle>

<StatusMessage />

<div class="row">
    <div class="col-xl-6">
        <EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <h3>Perfil</h3>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.NombreCompleto" class="form-control" id="NombreCompleto" disabled />
                <label for="NombreCompleto">Nombre completo</label>
                <ValidationMessage For="() => Input.NombreCompleto" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" class="form-control" id="Email" disabled />
                <label for="Email">Correo electrónico</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.NumeroCedula" class="form-control" id="NumeroCedula" disabled />
                <label for="NumeroCedula">Número de cédula</label>
            </div>

            @if (esAgrimensor)
            {
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.NumeroCodia" class="form-control" id="NumeroCodia" disabled />
                    <label for="NumeroCodia">Número CODIA</label>
                </div>
            }

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Ciudad" class="form-control" id="Ciudad" disabled />
                <label for="Ciudad">Ciudad</label>
                <ValidationMessage For="() => Input.Ciudad" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Direccion" class="form-control" id="Direccion" disabled />
                <label for="Direccion">Dirección</label>
                <ValidationMessage For="() => Input.Direccion" class="text-danger" />
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.PhoneNumber" class="form-control" id="PhoneNumber" disabled />
                <label for="PhoneNumber">Número de teléfono</label>
                <ValidationMessage For="() => Input.PhoneNumber" class="text-danger" />
            </div>
        </EditForm>
    </div>
</div>

@code {
    private ApplicationUser? user;
    private bool esAgrimensor = false;
    private InputModel Input { get; set; } = new();

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        user = await UserManager.GetUserAsync(HttpContext.User);

        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        esAgrimensor = await UserManager.IsInRoleAsync(user, "Agrimensor");

        Input = new InputModel
        {
            NombreCompleto = user.NombreCompleto,
            NumeroCedula = user.NumeroCedula,
            Ciudad = user.Ciudad,
            Direccion = user.Direccion,
            PhoneNumber = user.PhoneNumber!,
            Email = user.Email ?? "",
            NumeroCodia = user.NumeroCodia
        };
    }

    private async Task OnValidSubmitAsync()
    {
        if (user is null)
        {
            RedirectManager.RedirectToInvalidUser(UserManager, HttpContext);
            return;
        }

        user.NombreCompleto = Input.NombreCompleto;
        user.Ciudad = Input.Ciudad;
        user.Direccion = Input.Direccion;
        user.PhoneNumber = Input.PhoneNumber;
        user.Email = Input.Email;
        user.UserName = Input.Email;

        if (esAgrimensor)
        {
            user.NumeroCodia = Input.NumeroCodia;
        }

        var result = await UserManager.UpdateAsync(user);

        if (!result.Succeeded)
        {
            RedirectManager.RedirectToCurrentPageWithStatus("Error al actualizar el perfil.", HttpContext);
            return;
        }

        await SignInManager.RefreshSignInAsync(user);
        RedirectManager.RedirectToCurrentPageWithStatus("Perfil actualizado correctamente", HttpContext);
    }

     private sealed class InputModel
    {
        [Required]
        public string NombreCompleto { get; set; } = "";

        [Required]
        public string NumeroCedula { get; set; } = "";

        [Required]
        public string Ciudad { get; set; } = "";

        [Required]
        public string Direccion { get; set; } = "";

        [Required]
        public string PhoneNumber { get; set; } = "";

        [Required, EmailAddress]
        public string Email { get; set; } = "";

        public string? NumeroCodia { get; set; }
    }
}
